@import './fonts.css';

*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a:hover {
	text-decoration: none;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #333;
}
body::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}

body::-moz-scrollbar {
  width: 8px;
}
body::-moz-scrollbar-track {
  background: #333;
}
body::-moz-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}

body::-o-scrollbar {
  width: 8px;
}
body::-o-scrollbar-track {
  background: #333;
}
body::-o-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}

body::-ms-scrollbar {
  width: 8px;
}
body::-ms-scrollbar-track {
  background: #333;
}
body::-ms-scrollbar-thumb {
  background-color: #222;
  border-radius: 20px;
}

.pnlm-loading {
	background: red;
}

body{
	background: #f3f5f8;
	width: 100%;
	min-height: 100vh;
}
.app-main{
	width: 100%;
	min-height: 100vh;
	background: url(../../assets/admin-panel-bg.jpg) top center / cover fixed no-repeat;
}
.app-admin-content{
	width: 100%;
    min-height: 100vh;
    background: #ececec;
    display: table;
    box-shadow: 0 0 30px rgba(51, 51, 51, 0.21);
}
header{
	width: 100%;
	box-sizing: border-box;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12)
}
header h4{
    margin: 0;
    font-size: 20px;
    color: rgba(51, 51, 51, 0.82);
    font-weight: normal;
}
.right-content-side{
	width: 100%;
    min-height: 100vh;
    border-right: 1px solid rgba(51, 51, 51, 0.11);
    padding: 20px 0;
}
.right-content-side section span.logout {
	cursor: pointer;
    display: block;
    background: #b52626;
    color: rgba(255, 255, 255, 0.62);
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
}
.right-content-side section{
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 15px 7px;
	box-sizing: border-box;
	background: #232323;
	cursor: pointer;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.right-content-side section:hover{
	background: #1f1f1f;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.right-content-side section > a {
	font-size: 16px;
	color: rgba(255,255,255,0.38);
}
.right-content-side section:hover > a {
	font-size: 16px;
	color: rgba(255,255,255,0.58);
}
.right-content-side section span a{
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 7px;
	background: #86c30d;
	justify-content: center;
	align-items: center;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.right-content-side section span a:hover{
	background: #a7dc3d;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.add-icon{
	color: #fff;
	font-size: 22px;
}
.skeleton-block{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.skeleton-block-item{
	width: 32%;
}
.page-create-apartment{
	width: 100%;
}
.page-create-apartment h1, .page-apartment h1{
    font-size: 30px;
}
.ApartmentСomplex{
	width: 100%;
}
.ApartmentСomplex h4{
	margin: 15px 0;
	font-size: 15px;
	color: rgba(0,0,0,0.67);
}
.ApartmentСomplex h2{
	font-size: 18px;
}
.text-input-style{
	font-size: 22px;
}
.input-section-form{
	width: 100%;
	margin-bottom: 15px;
}
.select-option-style{
	width: 100%;
}
.select-option-style-label{
	font-size: 22px;
}
.select-option-style option{

}
.MuiFormLabel-root{
	font-size: 22px;
}
.cities-page-block h2{
	margin: 15px 0;
	font-size: 16px;
}
.cities-page-block h1{
	font-size: 30px;
}
.list-item-city{
    width: 100%;
    background: #e4e4e4;
    box-sizing: border-box;
    padding: 0 15px;

    transition: .2s all;
    -o-transition: .2s all;
    -ms-transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
}
.list-item-city:hover{
    background: #d8d8d8;

    transition: .2s all;
    -o-transition: .2s all;
    -ms-transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
}
.list-item-city-edit-input{
	width: 45%;
	height:30px;
	margin-bottom: 5px;
	font-size: 16px;
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
.page-apartment h2{
	font-size: 17px;
}
.drag-photo-complex, .drag-photo-complex > div{
	width: 100%;
	height: 150px;
	background: #dedede;
	display: flex;
	justify-content: center;
	align-items: center;
}
.drag-photo-complex-content h2{
	font-size: 18px;
}
.drag-photo-complex p{
	width: 35%;
	display: block;
	margin: 0;
	text-align: center;
}
.section-block-photos{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.photo-apartment-url{
	width: 285px;
	height: 150px;
	display: flex;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  	animation-name: spin;
  	animation-duration: 4000ms;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}

.page-apartment-grid{
	width: 100%;
}
.apartment-image-block{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;left: 0;
}
.apartment-block-content-item{
	width: 100%;
	height: 260px;
	position: relative;
	cursor: pointer;
}
.apartment-block-content-item-overlay{
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: rgba(0,0,0,0.78);
	box-sizing: border-box;
	padding: 15px;
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: .3s all;
	-o-transition: .3s all;
	-ms-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
}
.apartment-block-content-item:hover .apartment-block-content-item-overlay{
	opacity: 1;

	transition: .3s all;
	-o-transition: .3s all;
	-ms-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
}
.apartment-block-content-item-overlay-top h2{
	color: rgba(255,255,255,0.78);
	margin: 0;
	font-size: 17px;
}
.apartment-block-content-item-overlay-bottom small{
	color: rgba(255,255,255,0.87);
}
.apartment-block-content-item-overlay-settings {
	display: flex;
	width: 100%;
	flex-direction: row;
}
.apartment-edit-icon{
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 12px;
	background: rgba(255,255,255,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 7px;
}
.apartment-delete-icon{
	color: red;
	width: 45px;
	height: 45px;
	border-radius: 12px;
	background: rgba(255,255,255,0.1);
	display: flex;
	justify-content: center;
	align-items: center;
}
.blocks-form-content{
	width: 100%;
	background: rgba(0,0,0,0.06);
}
.drag-block-content{
	height: 700px;
	width: 100%;
	position: relative;
	overflow: auto;
	padding: 0
}
.drag-block-content-child{
	position: absolute;
	top: 0;left: 0;
	height: 100%;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.handle-content{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0;
    display: none;

    transition:.2s all;
    -o-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
    -webkit-transition:.2s all;
}
.handle-content-openned{
    opacity: 1;
    display: block;

    transition:.2s all;
    -o-transition:.2s all;
    -ms-transition:.2s all;
    -moz-transition:.2s all;
    -webkit-transition:.2s all;
}
.Draggable-style{
	display: table;
	width: auto;
}
.react-draggable{
	display: inline-block;
}
.devider-block{
	width: 100%;
	height: 2px;
	background: rgba(0,0,0,0.6);
	margin: 20px 0;
}
.blocks-content-visual{
	width: 100%;
}
.blocks-content-visual h1{
	margin: 0;
	color: rgba(0,0,0,0.67);
	font-size: 22px;
}
.upload-photo-block h1{
	margin: 10 0 5px 0;
	font-size: 17px;
}
.apartment-block-content-item-overlay-bottom-link-blocks{
    margin: 10px 0;
    display: flex;
    background: #b3d255;
    box-sizing: border-box;
    padding: 5px 10px;
    width: fit-content;
    border-radius: 4px;
    color: #222;
}
.apartment-block-content-item-overlay-bottom-link-blocks:hover{
    color: #222;
}
.block-image-map-style-item{
	display: table;
	position: relative;
	cursor: crosshair;
	border-radius: 5px;
	z-index: 1;
	background: transparent;
	box-shadow: 0 0 0 rgba(0,0,0,0);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.block-image-map-style-item:hover{
	box-shadow: 0 0 40px rgba(0,0,0,0);
	z-index: 1000;
	background: rgba(255,255,255,0);

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.block-image-map-style-item img{
	width: 100%;
	height: auto;
	position: absolute;
	z-index: 1;
}
.block-image-map-style-item svg:hover g,
.block-image-map-style-item svg:hover polygon,
.block-image-map-style-item svg:hover path{
  	fill: rgba(0,0,0,0.5);
  	stroke: rgba(0,0,0,0.2);                              
}
.wrapper-class-name{
	width: 100%;
	height: auto;

	transition:.3s all;
	-o-transition:.3s all;
	-ms-transition:.3s all;
	-webkit-transition:.3s all;
	-moz-transition:.3s all;
}
.wrapper-class-name:hover {
	stroke: black;

	transition:.3s all;
	-o-transition:.3s all;
	-ms-transition:.3s all;
	-webkit-transition:.3s all;
	-moz-transition:.3s all;
}
.wrapper-class-name svg {
	width: 100%;
	height: auto;
}
.handle-content-info{
    width: 100%;
    display: flex;
    min-height: 130px;
    box-sizing: border-box;
    flex-direction: column;
    padding: 5px;
    border: 1px solid #86c30c;
    border-radius: 5px;
    background: #eee;
}
.handle-content-info h4{
	font-size: 17px;
	font-weight: bold;
	margin: 5px 0;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.handle-content-info h4 small{
	width: 55px;
	display: block;
	color: #000;
}
.block-remove-item{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #ad1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
}
.block-remove-item svg{
	color: #fff;
}
.block-change-image-item{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    background: #41a917;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 10;
    overflow: hidden;
}
.block-change-image-item input{
	opacity: 0;
	position: relative;
	z-index: 111;
}
.setting-icon-block{
	width: 25px;
	height: 25px;
	border-radius: 13px;
	color: #1b1a1a;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 100;
	cursor: pointer;
}
.block-change-image-item svg{
	color: #fff;
	position: absolute;
}
.update-status-block-for-blocks-apartments{
	width: 100%;
	background: red;
	margin: 15px 0;
	padding: 15px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.update-status-block-for-blocks-apartments h4{
	margin: 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 15px;
}
.link-flats-block{
	width: 100%;
}
.link-flats-block a{
	display: flex;
    padding: 5px 10px;
    background: #86c30d;
    margin-top: 10px;
    border-radius: 3px;
    color: #444;
}
.form-flat-block{
	width: 100%;
}
.line-block{
    width: 100%;
    height: 1px;
    background: rgba(35, 35, 35, 0.18);
    margin: 40px 0;
}
.block-flat-files{
	width: 100%;
}
.block-flat-files section {
	padding: 15px;
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 100%;
	background: rgba(35, 35, 35, 0.06);
	border-radius: 4px;
}
.block-flat-files h4{
	font-size: 14px;
	margin: 0 0 5px 0;
}
.block-flat-files h3{
	font-size: 14px;
	margin: 5px 0 5px 0;
}
.paid-block {
    background: rgba(161, 206, 25, 0.22);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}
.free-block{
	margin-top: 10px;
    background: rgba(115, 115, 115, 0.22);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
input.price-file-input{
	width: 100%;
	height: 30px;
	margin-top: 7px;
	outline: none;
}
input.button-upload-file{
	width: 100%;
    height: 30px;
    margin-top: 7px;
    outline: none;
    background: #86c30d;
    border: none;
}
.paid-block h4, .free-block h4{
	margin: 10px 0 0 0;
}
.plan-block-file{
	width: 100%;
	display: flex;
	flex-direction: column;
    background: rgba(0, 0, 0, 0.02);
    margin-bottom: 15px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px;
}
.images-block-interior-flat{
	width: 100%;
}
.image-interior-flat{
	width: 32%;
	height: 150px;
	margin: 7px 1% 7px 0;
	float: left;
	position: relative;
}
.image-interior-flat span{
	position: absolute;
	z-index: 100;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.create-flat-block-form{
	width: 100%;
	margin-bottom: 25px;
}
.drag-block-content-child-flats svg{
	/*width: 250px;*/
}
.content-items-flat{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:5px;
	grid-row-gap: 15px;
	grid-auto-rows: minmax(150px, auto);
}
.block-item-flat{
	background: #e4e4e4;
}
.block-item-flat section{
	width: 100%;
	overflow: hidden;
}
.block-item-flat-information{
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}
.block-item-flat-information p {
	margin: 10px 0 0 0;
}
.block-item-flat-information span{
	font-size: 11px;
	color: #8a8a8a;
}
.block-item-flat-button-delete {
	color: red;
	cursor: pointer;
	font-size: 15px;
}
.block-item-flat-button-edit {
	cursor: pointer;
	font-size: 15px;
}
.statistic-block content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.statistic-block content section{
	background: #86c30d;
	box-sizing: border-box;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.statistic-block content section h1{
	margin: 15px;
	font-size: 12px;
	text-align: center;
}
.statistic-block content section h5{
	margin: 0;
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 5px;
    color: #333;
    font-size: 27px;
    font-weight: bold;
}
.statistic-block h4{
	margin: 10px 0 15px 0;
	font-size: 17px;
}
.statistic-block h4 span{
	font-size: 17px;
	color: rgba(0, 0, 0, 0.47);
	font-size: 13px;
}
.block-users-items{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.user-block-avatar{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.051);
}
.user-information{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.user-information h4{
    margin: 10px 0 5px;
    color: rgba(0, 0, 0, 0.78);
}
.user-information h5{
    margin: 0;
    color: rgba(0, 0, 0, 0.58);
}
.user-information span{
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    background: #86c30d;
    border-radius: 5px;
    margin: 10px 0 0px;
    color: #fff;
    text-shadow: 1px 1px 2px #333;
}
.user-date-regisration{
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
}
.user-date-regisration h4{
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.44);
}
.item-user{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 0 transform;

    transition:.3s all;
    -o-transition:.3s all;
    -ms-transition:.3s all;
    -moz-transition:.3s all;
    -webkit-transition:.3s all;
}
.item-user:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);

    transition:.3s all;
    -o-transition:.3s all;
    -ms-transition:.3s all;
    -moz-transition:.3s all;
    -webkit-transition:.3s all;
}
h1.title-page{
	font-size: 30px;
}
a.link-button-360{
    padding: 5px 8px;
    color: #000;
}
.icon-button-360{
	transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
}
.form-360-block{
	width: 100%;
    display: table;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dadada;
    box-shadow: 0 0 10px 10px #e2e2e2;
    margin-bottom: 20px;
}
.form-360-block section {
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background: #dedede;
	margin-bottom: 15px;
}
.form-360-block section h5 {
	margin: 0 0 10px 0;
	padding: 0;
}
.form-360-block section span {
    display: table;
    background: #9ed812;
    padding: 10px 15px;
    color: #fff;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(51 51 51 / 35%);
}
.block-view-360 {
	width: 100%;
	display: table;
}
.block-view-360-content {
	width: 100%;
	display: table;
	position: relative;
}
.controll-block-360{
	width: 100%;
	display: table;
	margin-top: 15px;
}
.controll-block-360 span {
	width: block;
	float: left;
	width: 20%;
	height: 110px;
	margin-bottom: 5px;
	cursor: pointer;
	background: rgba(0,0,0,0.1);
	position: relative;
}
.delete-360 {
	position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    cursor: pointer;
    display: block;
    padding: 7px 7px 5px;
    background: #9e1515;
    border-radius: 45%;
    color: #fff;
}
.event-photo-select {
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.block-view-360-content span.button-new {
    position: absolute;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    padding: 10px 0;
    background: rgb(35 35 35);
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    opacity: .5;

    transition: .3s all;
    -o-transition: .3s all;
    -ms-transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
}
.block-view-360-content span.button-new:hover {
    opacity: 1;

    transition: .3s all;
    -o-transition: .3s all;
    -ms-transition: .3s all;
    -moz-transition: .3s all;
    -webkit-transition: .3s all;
}
.block-view-360-content span.button-new-scene {
	bottom: 50px;
}
.block-view-360-content span.button-new-point {
	bottom: 5px;
}
.modal-information-point {
	width: 100%;
	box-sizing: border-box;
	padding: 15px;
	background: #dedede;
	border-radius: 5px;
	margin-bottom: 15px;
}
.block-form-new-scene {
	width: 100%;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    display: table;
}
.scene-item-photo {
	width: 25%;
	height: 110px;
	float: left;
	cursor: pointer;
	position: relative;
	z-index: 1;
	border: 5px solid #232323;

	transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
}
.scene-item-photo:hover {
	z-index: 10;

	transform:scale(1.07);
	-o-transform:scale(1.07);
	-ms-transform:scale(1.07);
	-moz-transform:scale(1.07);
	-webkit-transform:scale(1.07);

	transition:.2s all;
	-o-transition:.2s all;
	-ms-transition:.2s all;
	-webkit-transition:.2s all;
	-moz-transition:.2s all;
}
.selected-scene-photo {
	width: 30%;
	height: 150px;
}
.selected-scene-photo-block {
    width: 100%;
    display: table;
    background: #ececec;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #e2e2e28a;
}
.selected-scene-photo-block h4 {
	margin: 0 0 5px 0;
}
.points-360-block {
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 10px;
	background: #86c30d;
	margin-bottom: 10px;
}
.photo-scene-block-preview {
	width: 100%;
	height: 90px;
}
.desc-scene-block-preview {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #e2e2e2;
    box-sizing: border-box;
    padding: 10px;
}
.desc-scene-block-preview p {
	margin: 0;
}
.item-section-point-360 {
	width: 25%;
	display: table;
	float: left;
	background: rgba(255,255,255,0.4);
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.item-section-point-360 span {
    width: 100%;
    display: table;
    background: rgba(255,255,255,0.4);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 4px;
    border: 5px solid #ceec92;
    cursor: pointer;
    font-size: 11px;
}
.item-section-point-360 span.remove-point-360 {
	background: #e22b2b;
    border: 0 solid #ceec92;
    margin: 0;
    color: rgb(255 255 255 / 72%);
}
.block-form-description-product {
	width: 100%;
}
.block-form-description-product input{
    width: 100%;
    height: 31px;
    outline: none;
    padding: 0 15px;
    margin-bottom: 7px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}
.section-settings-block{
	width: 100%;
	display: table;
	margin-bottom: 15px;
}
.section-settings-block-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background: #dedede;
    box-sizing: border-box;
    padding: 10px;
}
.section-settings-block-head h3 {
	margin: 0;
	font-size: 17px;
}
.section-settings-block-head span {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    background: #86c30c;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
}
.section-settings-block-body {
	width: 100%;
	display: table;
}
.setting-block {
	width: 100%;
	display: table;
}
.setting-block p {
	margin: 0;
}
.setting-block input {
	width: 50%;
	margin-bottom: 10px;
	height: 35px;
	padding: 0 10px;
	margin-right: 4px;
}
.setting-block-input {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.main-photo-panorama {
	width: 100%;
	display: table;
}
.main-block-with-pamorama {
	position: relative;
	width: 100%;
	display: table;

  	-webkit-touch-callout: none; /* iOS Safari */
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* Internet Explorer/Edge */
  	user-select: none; 
}
.main-block-with-pamorama img {
	width: 100%;
	height: auto;
}
h1.description-text-panorama {
	display: block;
    padding: 5px;
    background: #7dc30d;
    color: #fff;
    text-shadow: 1px 1px 0 #b9b9b9;
    border-radius: 5px;
}
.panorama-buttons-controll {
	width: 100%;
	display: flex;
}
.panorama-buttons-controll span {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    text-transform: uppercase;
    background: #232323;
    margin-right: 10px;
    color: #a9a9a9;
    border-radius: 3px;
}
.area-block-panorama-select {
	width: 100%;
	height: 100%;
	background: rgb(135 196 14 / 0%);
	position: absolute;
	top:0;left: 0;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;

	transition: .05s all;
	-o-transition: .05s all;
	-ms-transition: .05s all;
	-moz-transition: .05s all;
	-webkit-transition: .05s all;
}
.area-block-panorama-select-background {
	background: rgb(135 196 14 / 58%);
}
.area-block-panorama-select h4 {
	color: #fff;
}
.area-block-panorama-select-preview:hover {
	background: rgb(0 0 0 / 62%);
	z-index:1000;

	transition: .3s all;
	-o-transition: .3s all;
	-ms-transition: .3s all;
	-moz-transition: .3s all;
	-webkit-transition: .3s all;
}
.dot-point-area {
	width: 5px;
	height: 5px;
	cursor: pointer;
	border-radius: 50%;
	background: #7a15ff;
	z-index: 1500;
	position: absolute;
    margin-top: -2.5px;
    margin-left: -2.5px;

	transform:scale(1);
	-o-transform:scale(1);
	-ms-transform:scale(1);
	-moz-transform:scale(1);
	-webkit-transform:scale(1);

	transition: .1s all;
	-o-transition: .1s all;
	-ms-transition: .1s all;
	-moz-transition: .1s all;
	-webkit-transition: .1s all;    
}

.event-points-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
	z-index: 1;
}
.dot-point-area span {
	width: 15px;
    height: 15px;
    background: #b52626;
    border-radius: 50%;
    cursor: pointer;
    bottom: 0px;
    position: absolute;
    left: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.dot-point-area:hover span {
	opacity: 1;
	visibility: visible;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;
}
.dot-point-area span svg {
	color: #fff;
	font-size: 12px;
}
.list-block-main-block {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top:10px;
	margin-top: 20px;
	border-top: 2px solid #888;
}
.block-list-item {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 15px;
}
.block-list-item > div {
	display: flex;
	flex-direction: row;
}
.block-list-item > div span {
	margin-right: 15px;
	cursor: pointer;
	display: block;
}
.block-list-item:nth-child(even), .flat-main-item:nth-child(even){
	background: #dedede;
}
.block-list-item:nth-child(odd), .flat-main-item:nth-child(odd){
	background: #eee;
}
.block-list-item p {
	margin: 0;
	padding: 0;
}
.coord-point-block-with-icons {
    width: 200px;
    height: 50px;
    background: #86c30d;
    position: absolute;
    z-index: 100;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.icon-point-preview {
    width: 30px;
    height: 30px;
    border-radius: 40%;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;    
}
.icon-point-preview:hover {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    padding: 5px;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;    
}
.icon-point-preview-1 {
	background: url(../../assets/icons/1.png) center / 55% no-repeat;
}
.icon-point-preview-2 {
	background: url(../../assets/icons/2.png) center / 55% no-repeat;
}
.icon-point-preview-3 {
	background: url(../../assets/icons/3.png) center / 55% no-repeat;
}
.icon-point-preview-4 {
	background: url(../../assets/icons/4.png) center / 55% no-repeat;
}
.icon-point-preview-5 {
	background: url(../../assets/icons/5.png) center / 55% no-repeat;
}
.icon-point-preview-6 {
	background: url(../../assets/icons/6.png) center / 55% no-repeat;
}
.icon-point-preview-position {
    position: absolute;
    z-index: 2000;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 41%;
}
.icon-point-preview-position:hover {
    width: 40px;
    height: 40px;
    z-index: 3000;
}
.point-title {
    position: absolute;
    left: 2%;
    border-radius: 20px;
    z-index: -1;
    top: 0;
    display: flex;
    overflow: hidden;
    background: #0e0e0e;
    padding: 15px 5px;
    min-width: 170px;
    justify-content: center;
    align-items: center;
    height: 40px;
	opacity: 0;
	visibility: hidden;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all;  
}
.point-title p {
	margin: 0;
	padding: 0;
	color: #fff;
}
.icon-point-preview-position:hover .point-title {
	opacity: 1;
	left: 99%;
	visibility: visible;

	transition: .2s all;
	-o-transition: .2s all;
	-ms-transition: .2s all;
	-moz-transition: .2s all;
	-webkit-transition: .2s all; 	
}
.point-title-view {
	opacity: 1;
	left: 99%;
	visibility: visible;	
}
span.block-icon-remove {
	position: relative;
	cursor: pointer;
	top: 2px;
	color: red;
}
.list-block-main-block h2 {
	font-weight: bold;
	font-size: 15px;
}
.tabs-blocks-and-block {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 20px 0 10px 0;
}
.tabs-blocks-and-block span {
    width: 100%;
    cursor: pointer;
    display: flex;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    background: #80808024;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px black;
}
.tabs-blocks-and-block span.active {
	background: #86c30d;
	text-shadow: 1px 1px 4px rgba(0,0,0,0);
}
.line-main-full-width {
	width: 100%;
	height: 2px;
	background: #8e8e8e;
}
.upload-floor-image-block {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.upload-floor-image-block p {
    display: block;
    cursor: pointer;
    padding: 5px 10px;
    background: #86c30d;
    border-radius: 5px;
    position: relative;
    top: 4px;
}
.section-upload-floor-image {
	box-sizing: border-box;
	padding: 10px;
	background: #dedede;
}
.plan-preview-photo-floor {
	width: 40%;
	height: 150px;
}
.plan-preview-photo-floor-main-block h5 {
    cursor: pointer;
    display: table;
    padding: 9px 10px;
    background: #86c30d;
    border-radius: 5px;
    text-transform: uppercase;
}
.plan-floor-main-block-with-points {
	width: 100%;
	display: table;
	position: relative;
	height: auto;
}
.plan-floor-main-block-with-points img {
	width: 100%;
	height: auto;
}
.section-with-plan-floor{
	width: 100%;
	display: table;
}
.section-with-plan-floor > span, .section-with-plan-floor span {
    cursor: pointer;
    padding: 10px 15px;
    float: left;
    background: #232323;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
}
.list-flats-block {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.flat-main-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
}
.flat-main-item-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.block-icon-remove-flat {
	margin-right: 15px;
	cursor: pointer;
}
.header-page-main {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
a.template-link-block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 10px;
	background: #232323;
	border-radius: 5px;
	color: #fff;
}
a.template-link-block:hover {
	background: #232323;
}
a.template-link-block span {
	margin-right: 5px;
}
.block-item-flat-button-template {
	position: relative;
	top: 1px;
}
.copy-floor-block {
	width: 100%;
	padding: 15px;
	background: #ffe78e;
	box-sizing: border-box;
	margin: 15px 0;
	float: left;
	border-radius: 7px;
}
.copy-floor-block h6 {
	color: #333;
	margin: 0;
}
.copy-floor-block hr {
	width: 100%;
	margin: 10px 0;
	height: 0.4px;
	background: rgba(0,0,0,0.86);
}
.copy-floor-block button {
	display: block;
	cursor: pointer;
	border-radius: 7px;
	padding: 5px 10px;
	box-sizing: border-box;
	background: #232323;
	color: #eee;
	border: none;
	outline: none;
}
span.more-flats {
	cursor: pointer;
	width: 280px;
	display: flex;
	margin: 20px auto;
	padding: 15px 0;
	justify-content: center;
	align-self: center;
	background: #232323;
    color: #fff;
	border-radius: 10px;
}
input.MuiInputBase-input {
	font-size: 17px;
    border: 1px solid #bdbdbd;
    padding: 10px 15px;
    border-radius: 10px;
}
.block-image-360-with-dottes {
	width: 100%;
	display: table;
	position: relative;
}
.plan-top-right-block {
	display: table;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}
.plan-top-right-block img {
	max-width: 255px;
	height: auto;
}
.dot-plan-block {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1171b5;
    z-index: 10;
    position: absolute;
    margin-left: -7px;
    margin-top: -7px;
}
.block-list-item-block  > div span {
	margin-right: 0px;
}
.block-list-item span.edit-block-button {
    display: block;
    padding: 2px 4px 0;
    cursor: pointer;
}
.block-list-item-flex {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: ce
}
.block-list-item-flex-button-control {
	display: flex;
	flex-direction: row;
}
.block-list-item > div.block-list-item-flex-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.block-list-item-flex-form input{
	width: 100%;
	height: 35px;
	border: 1px solid rgba(0,0,0,0.4);
	margin-bottom: 5px;
	border-radius: 4px;
	outline: none;
	padding: 0 10px;
}
.block-list-item-flex-form input.block-list-item-flex-form-save {
	width: 170px;
}
.button-icon-remove-flat-save-area-points {
    background: #77d610;
    border-radius: 4px;
    color: #fff;
    padding: 5px;
    text-shadow: 3px 1px 1px rgb(0 0 0 / 20%);
}
.page-editor-block {
	width: 100%;
	display: table;
	box-sizing: border-box;
	padding: 0 15px 10px 0;
}
.page-editor-block input.form-page-input {
	width: 100%;
	height: 35px;
	border: 1px solid rgba(0,0,0,0.4);
	border-radius: 4px;
	margin-bottom: 5px;
	padding: 0 10px;
}
.meta-seo-page-block {
	display: table;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 4px;
	background: #fff;
	margin: 10px 0;
}
.page-editor-block input[type="submit"] {
    width: 170px;
    float: right;
    background: #5aa515;
    outline: none;
    color: #fff;
    border: none;
    font-size: 17px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #888;
}
.item-page {
	width: 100%;
    min-height: 180px;
    margin: 0 0 15px 0;
    border-radius: 8px;
    overflow: hidden;
    background: whitesmoke;
    box-shadow: 1px 5px 14px rgb(0 0 0 / 17%);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-page h1 {
    padding: 10px;
    font-size: 17px;
    background: rgb(255 255 255 / 75%);
    margin: 0;
}
.bottom-page-controll-block {
	box-sizing: border-box;
    padding: 10px;
    background: #bae046;
}
.bottom-page-controll-block p {
	margin: 0;
}
.bottoms-page-controll-block {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.bottom-page-controll-block-icon {
	cursor: pointer;
	width: 20px;
	height: 20px;
	display: block;
}
.bottom-page-controll-block-icon-remove {
	color: red;
}
.logo-builder-preview {
	width: 180px;
	height: 180px;
}
textarea.textarea-desc-builder {
	padding: 10px;
	min-height: 70px;
	margin-bottom: 5px;
	outline: none;
	max-width: 70%;
}