.auth-block{
	width:100%;
	height: 100vh;
    background: url(../../assets/admin-bg.jpg) top center / cover no-repeat;
}
.auth-block-form{
    width: 100%;
    min-height: 100vh;
    background: rgba(255,255,255,0.88);
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.36);
}
.form-auth-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-auth-input section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form-auth-input section label{
    margin-top: 15px;
}
.form-auth-input p{
    margin: 0;
    font-size: 17px;
}
.form-auth-input section input{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background: rgba(75, 49, 58, 0.18);
    border-radius: 7px;
    outline: none;
    border: none;
    box-shadow: inset 0 0 10px rgba(51, 51, 51, 0.04);
}
.form-auth-input input[type="submit"]{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border: none;
    outline: none;
    text-transform: uppercase;
    background: rgba(161, 89, 53, 0.79);
    border-radius: 7px;
    color: #fff;
    font-size: 15px;
}
.form-auth-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-auth-footer p{
    color: rgba(0,0,0,0.5);
}